<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']">Tareas In6av</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="['tareas']">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="['usuarios']">Usuarios</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Arregla el navbar junto con las direcciones! y elimina este "h1"</h1>
