<h2>Lista de Usuarios</h2>
<hr>
<button class="btn btn-success" >Agreagar</button>
<hr>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nick</th>
      <th>Contraseña</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarioService.usuarios">
      <td>{{usuario.idUsuario}}</td>
      <td>{{usuario.nick}}</td>
      <td>{{usuario.contrasena}}</td>
      <td>
  							<div class="btn-group">
  								<a class="btn btn-info">Modificar</a>
  								<button class="btn btn-danger">Eliminar</button>
  							</div>
  						</td>
    </tr>
  </tbody>
</table>
